.details_container {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 10px;
    margin-top: 5rem;
}

.details_wrapper {
    display: flex;
    padding: 2rem;
}

.info_container {
    margin-left: 1rem;
}

.details_description {
    font-size: 18px;
    line-height: 32px;
    font-weight: 300;
    margin-top: 1rem;
}

.author_info {
    margin-top: 2rem;
    font-size: 14px;
}

.goBack_button {
    padding: 10px;
    font-size: 24px;
}

.details_image {
    width: 300px;
    margin-top: 2rem;
    object-fit: contain;
}